.role-management-page {
    background-color: #f8f9fa;
    min-height: 100vh;
}

.page-title {
    margin-bottom: 0rem;
    font-weight: 700;
}

.settings-card {
    border: none;
    border-radius: 0.75rem;
}

.role-table {
    vertical-align: middle; /* ทำให้เนื้อหาในตารางอยู่กึ่งกลางแนวตั้ง */
}